容器  

串列List  [ ]  
元組tuple ( )  
集合set   { }  
字典dic   {a:b,c:d}  
字串str   " "

### 元組(tuple)
<sub>元組 是以小括號建立，元素間用逗號隔開

In [1]:
tuple0 = (1 ,2 ,3 ,4 ,5)
print(tuple0)

(1, 2, 3, 4, 5)

<sub>若括號內為空元素則為空元組

In [2]:
tuple2 = ()
print(tuple2)

()

<sub>從串列中建立元組

In [3]:
tuple3 = tuple([i for i in range(1,10)])
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

<sub>字串也可以建立元組 有無加上tuple差很多

In [4]:
tuple4 = ('python')
print(tuple4)
tuple5 = tuple('python')
print(tuple5)

python
('p', 'y', 't', 'h', 'o', 'n')

<sub>元組函式 可以用 len、max 、min、sum等串列使用的函式，以及in、not in、*、+ 運算子，這些功能和串列相似

In [ ]:
#len、max 、min、sum
tuple0 = (1 ,2 ,3 ,4 ,5)
a = len(tuple0)
print(a)
b = max(tuple0)
print(b)
c = min(tuple0)
print(c)
d = sum(tuple0)
print(d)

5
5
1
15

In [6]:
#in、not in
tuple1 = (2 ,4 ,1 ,3 ,9 ,5)
a = 8 not in tuple1
print(a)
a = 9 not in tuple1
print(a)
a = 1 in tuple1
print(a)

True
False
True

<sub>元組 內的元素不能被刪除，但可以增加，增加方式使用 += 運算符號，要加入的元素放在小括號之中

In [7]:
tuple0 = (1 ,2 ,3 ,4 ,5)
tuple0 += (6,)  #增加一個元素時後面加逗號 增加一個以上的元素時就可以不用再最後+逗號
print(tuple0)
tuple0 += (7,8)
print(tuple0)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 7, 8)

<sub>以使用索引值來取得所在位置的元素內容

In [3]:
tuple0 = (1 ,2 ,3 ,4 ,5)
tuple3 = tuple([i for i in range(1,10)])

a = tuple0[2]
print(a)
b = tuple0[-1]
print(b)
c = tuple0[2:5] #索引值2-4的資料
print(c)
tuple0 = 2 * tuple3
print(tuple0)

3
5
(3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9)

<sub>使用迴圈印出元組 中的所有資料

In [4]:
tuple0 = (1 ,2 ,3 ,4 ,5)
for i in tuple0:
    print(i,end=' ')

1 2 3 4 5

<sub>星號運算子 (*) 解包

In [8]:
#星號 * 會將 tuple 裡的元素「解包」，把每個元素都當成獨立的參數傳給 print() 函式。
tuple0 = (1 ,2 ,3 ,4 ,5)
print(*tuple0)

1 2 3 4 5

元組沒有刪除個別元素的方式 但可以刪除整組元組  
del tuple0  
print(tuple0)

In [11]:
tuple0 = (1 ,2 ,3 ,4 ,5)
del tuple0  
print(tuple0) #被刪除 所以不存在

NameError: name 'tuple0' is not defined